src/AdditionalExercises
src/Lookup
.idea
src/Seminari11/FileMerger/out.txt
src/Seminari16/Ushtrimi2/imazhi1.jpg
src/Seminari16/Ushtrimi2/imazhi2.png
src/Laboratori5/Ushtrimi2/out.txt
src/Laboratori8/Ushtrimi1/test
src/Leksionet/Leksioni2_4/FileWriter/text.txt
src/Experiments/BinaryFiles/text.bin
src/Experiments/BinaryFilesStrings/text.bin
src/Experiments/ObjectFiles/store
src/Leksionet/Leksioni2_9/AddressBook/data.bin